<div class="chat-container">
  <div class="chat-header">💬 Czat</div>

  <div class="messages-container">
    <div *ngFor="let message of messages" class="message-box" [class.self]="message.senderId === 1">
      <p class="message-text">{{ message.text }}</p>
      <span class="timestamp">{{ message.timestamp | date:'shortTime' }}</span>
    </div>
  </div>

  <div class="chat-input">
    <input type="text" [(ngModel)]="newMessage" placeholder="Napisz wiadomość..." />
    <button (click)="sendMessage()">📩</button>
  </div>
  <p-button pButton type="back-button" label="Back" icon="pi pi-home" (click)="goToHome()"></p-button>
</div>

