<div class="welcome-container">
  <h1>Welcome to Beer Tinder!</h1>
  <div class="options">
    <button pButton type="button" label="Przeglądaj piwa" class="p-button-raised p-button-rounded" routerLink="/browse-beers"
    icon="pi pi=search"></button>
    <button pButton type="button" label="Porozmawiaj z dopasowanymi użytkownikami" class="p-button-raised p-button-rounded"></button>
    <button pButton type="button" label="Your Favorites" icon="pi pi-heart" routerLink="/favorites"></button>
  </div>
</div>

