<div class="welcome-container">
  <h1>Welcome to Beer Tinder!</h1>
  <div class="options">
    <button pButton type="button" label="Przeglądaj piwa"
            class="p-button-raised p-button-rounded"
            routerLink="/browse-beers"
            icon="pi pi-search"></button>

    <button pButton type="button" label="Przeglądaj dopasowania"
            class="p-button-raised p-button-rounded"
            routerLink="/matches"
            icon="pi pi-users"></button>

    <button pButton type="button" label="Czatuj z innymi"
            class="p-button-raised p-button-rounded"
            routerLink="/chat"
            icon="pi pi-comments"></button>

    <button pButton type="button" label="Konto użytkownika"
            class="p-button-raised p-button-rounded"
            routerLink="/user-profile"
            icon="pi pi-user"></button>
  </div>
</div>


