<div class="chat-view-container">
  <h2>💬 Twoje czaty</h2>

  <div *ngIf="chatRooms.length > 0; else noChats">
    <ul class="chat-list">
      <li *ngFor="let chat of chatRooms" class="chat-item">
        <p>🗨️ Czat ID: <strong>{{ chat.id }}</strong></p>
        <button pButton type="button" label="Otwórz czat" class="chat-button" (click)="openChat(chat.id)">
          🔍
        </button>
      </li>
    </ul>
  </div>

  <ng-template #noChats>
    <p class="no-chats">❌ Brak aktywnych czatów.</p>
  </ng-template>
  <p-button pButton type="back-button" label="Back to Home" icon="pi pi-home" (click)="goToHome()"></p-button>
</div>


