<div class="browse-container">
  <p-card header="{{ beers[currentBeerIndex]?.name }}" styleClass="ui-card-shadow">
    <img [src]="beers[currentBeerIndex]?.imageUrl" alt="{{ beers[currentBeerIndex]?.name }}" width="100%">
    <p>{{ beers[currentBeerIndex]?.description }}</p>
  </p-card>

  <div class="button-container">
    <button pButton type="button" label="Dislike" icon="pi pi-thumbs-down" class="dislike-button"
            (click)="swipeBeer('dislike')"></button>
    <button pButton type="button" label="Like" icon="pi pi-thumbs-up" class="like-button"
            (click)="swipeBeer('like')"></button>
  </div>
</div>
