.browse-container {
  text-align: center;
  padding: 20px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.like-button {
  background-color: #4caf50; /* Zielony */
  color: white;
}

.dislike-button {
  background-color: #f44336; /* Czerwony */
  color: white;
}
