<div class="container">
  <!-- Główna karta z piwem (wycentrowana) -->
  <div class="beer-container">
    <p-card *ngIf="currentBeer" [header]="currentBeer.name" styleClass="beer-card">
      <img [src]="currentBeer.imageUrl" alt="Beer Image" class="beer-image" />
      <p>{{ currentBeer.description }}</p>
      <!-- Przycisk "like" i "dislike" -->
      <div class="buttons">
        <button pButton type="button" label="Like" icon="pi pi-thumbs-up"
                (click)="swipeBeer(currentBeer.id, 'like')"></button>

        <button pButton type="button" label="Dislike" icon="pi pi-thumbs-down"
                (click)="swipeBeer(currentBeer.id, 'dislike')"></button>
      </div>
    </p-card>

    <p-button pButton type="back-button" label="Back to Home" icon="pi pi-home" (click)="goToHome()"></p-button>
  </div>

  <!-- Panel z polubionymi piwami -->
  <div class="liked-beers-container">
    <h2>Polubione piwa:</h2>
    <div class="liked-beers">
      <ul>
        <li *ngFor="let beer of likedBeers" class="liked-beer-item">
          <p-card [header]="beer.name" styleClass="mini-beer-card">
            <img [src]="beer.imageUrl" alt="Beer Image" class="mini-beer-image" />
          </p-card>
        </li>
      </ul>
    </div>
  </div>
</div>
